In [1]:
import pandas as pd

In [3]:
cd Desktop/cautious-octo-train/full/

/home/azizbg/Desktop/cautious-octo-train/full

In [4]:
df = pd.read_csv('full_dataset.csv')

In [6]:
df_twitter = df[df['platform'] == 'twitter']

In [7]:
df_twitter

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,Had a good first days WE at the herald,twitter,1,0,39,9,0,0,3.0
1,1,whaat. making sure.. she's safe.,twitter,0,0,34,5,0,0,1.0
2,2,"HAHAHAHAHAHA, Se ferrou!",twitter,0,0,26,3,0,0,0.0
3,3,Cant sleep with bad thoughts in my mind,twitter,0,1,40,8,0,0,-3.0
4,4,"so tired and sick of trains, tho getting on an...",twitter,0,2,57,11,0,0,-4.0
...,...,...,...,...,...,...,...,...,...,...
488162,488162,I am acc programmed to support others Before I...,twitter,1,0,123,21,0,0,2.0
488163,488163,I keep wondering,twitter,0,0,16,3,0,0,0.0
488164,488164,Lhsihsigifs okay if this hits 2 retweet's I'll...,twitter,0,0,87,15,0,0,0.0
488165,488165,Here you go,twitter,0,0,11,3,0,0,0.0
488166,488166,I got time toooodaaaaay! Her name is Jacquelin...,twitter,1,0,128,22,0,2,0.0

In [35]:
twitter72k = df.head(72000)

In [36]:
twitter72k

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,Had a good first days WE at the herald,twitter,1,0,39,9,0,0,3.0
1,1,whaat. making sure.. she's safe.,twitter,0,0,34,5,0,0,1.0
2,2,"HAHAHAHAHAHA, Se ferrou!",twitter,0,0,26,3,0,0,0.0
3,3,Cant sleep with bad thoughts in my mind,twitter,0,1,40,8,0,0,-3.0
4,4,"so tired and sick of trains, tho getting on an...",twitter,0,2,57,11,0,0,-4.0
...,...,...,...,...,...,...,...,...,...,...
71995,71995,that was arranged! you as a show girl should ...,twitter,0,0,56,11,0,2,0.0
71996,71996,I don't think I'll be able to buy iPhone even...,twitter,0,0,65,14,0,0,0.0
71997,71997,its winter in Australia...and i hate it,twitter,0,1,41,7,0,0,-3.0
71998,71998,I thought I was the only one thinkin that!!! ...,twitter,2,1,119,20,0,0,-3.0
71999,71999,aw thats sweet of u what mite u guys go see?,twitter,1,0,46,11,1,0,2.0

In [37]:
df_notwitter = df[df['platform'] != 'twitter']

In [38]:
df_notwitter

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn
488167,488167,bye,instagram,0,0,4,1,0,0,0.0
488168,488168,"Ok, a few more... sorry I just had so much fun...",instagram,1,1,56,13,0,0,3.0
488169,488169,This was one of my favorite shoots I've ever d...,instagram,3,0,177,32,0,0,3.0
488170,488170,Wrapped round my finger like a ring,instagram,1,0,36,7,0,0,2.0
488171,488171,Yesterday was so much fun!! has been such a hu...,instagram,2,0,178,35,0,0,11.0
...,...,...,...,...,...,...,...,...,...,...
587253,587253,Best contestant ever,youtube,1,0,20,3,0,0,3.0
587254,587254,9:16 is gold,youtube,1,0,12,3,0,0,2.0
587255,587255,"Wait, did she said her cat came back from the ...",youtube,0,0,105,19,0,2,-2.0
587256,587256,Ok we all have to admit it. Aubrey turns us on...,youtube,0,0,93,20,0,2,4.0
587257,587257,She is so boring. If she was my my girlfriend ...,youtube,0,0,61,13,0,6,-4.0

In [39]:
cap72k = pd.concat([twitter72k, df_notwitter])

In [40]:
cap72k

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn
0,0,Had a good first days WE at the herald,twitter,1,0,39,9,0,0,3.0
1,1,whaat. making sure.. she's safe.,twitter,0,0,34,5,0,0,1.0
2,2,"HAHAHAHAHAHA, Se ferrou!",twitter,0,0,26,3,0,0,0.0
3,3,Cant sleep with bad thoughts in my mind,twitter,0,1,40,8,0,0,-3.0
4,4,"so tired and sick of trains, tho getting on an...",twitter,0,2,57,11,0,0,-4.0
...,...,...,...,...,...,...,...,...,...,...
587253,587253,Best contestant ever,youtube,1,0,20,3,0,0,3.0
587254,587254,9:16 is gold,youtube,1,0,12,3,0,0,2.0
587255,587255,"Wait, did she said her cat came back from the ...",youtube,0,0,105,19,0,2,-2.0
587256,587256,Ok we all have to admit it. Aubrey turns us on...,youtube,0,0,93,20,0,2,4.0
587257,587257,She is so boring. If she was my my girlfriend ...,youtube,0,0,61,13,0,6,-4.0

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
cap72k['intensity'] = (cap72k['positive_words'] + cap72k['negative_words']) / cap72k['word_count']

In [45]:
cap72k

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn,intensity
0,0,Had a good first days WE at the herald,twitter,1,0,39,9,0,0,3.0,0.111111
1,1,whaat. making sure.. she's safe.,twitter,0,0,34,5,0,0,1.0,0.000000
2,2,"HAHAHAHAHAHA, Se ferrou!",twitter,0,0,26,3,0,0,0.0,0.000000
3,3,Cant sleep with bad thoughts in my mind,twitter,0,1,40,8,0,0,-3.0,0.125000
4,4,"so tired and sick of trains, tho getting on an...",twitter,0,2,57,11,0,0,-4.0,0.181818
...,...,...,...,...,...,...,...,...,...,...,...
587253,587253,Best contestant ever,youtube,1,0,20,3,0,0,3.0,0.333333
587254,587254,9:16 is gold,youtube,1,0,12,3,0,0,2.0,0.333333
587255,587255,"Wait, did she said her cat came back from the ...",youtube,0,0,105,19,0,2,-2.0,0.000000
587256,587256,Ok we all have to admit it. Aubrey turns us on...,youtube,0,0,93,20,0,2,4.0,0.000000
587257,587257,She is so boring. If she was my my girlfriend ...,youtube,0,0,61,13,0,6,-4.0,0.000000

In [46]:
cap72k['positivity'] = (cap72k['positive_words'] - cap72k['negative_words']) / cap72k['word_count']

In [47]:
cap72k

,Unnamed: 0,text,platform,positive_words,negative_words,length,word_count,male_words,female_words,afinn,intensity,positivity
0,0,Had a good first days WE at the herald,twitter,1,0,39,9,0,0,3.0,0.111111,0.111111
1,1,whaat. making sure.. she's safe.,twitter,0,0,34,5,0,0,1.0,0.000000,0.000000
2,2,"HAHAHAHAHAHA, Se ferrou!",twitter,0,0,26,3,0,0,0.0,0.000000,0.000000
3,3,Cant sleep with bad thoughts in my mind,twitter,0,1,40,8,0,0,-3.0,0.125000,-0.125000
4,4,"so tired and sick of trains, tho getting on an...",twitter,0,2,57,11,0,0,-4.0,0.181818,-0.181818
...,...,...,...,...,...,...,...,...,...,...,...,...
587253,587253,Best contestant ever,youtube,1,0,20,3,0,0,3.0,0.333333,0.333333
587254,587254,9:16 is gold,youtube,1,0,12,3,0,0,2.0,0.333333,0.333333
587255,587255,"Wait, did she said her cat came back from the ...",youtube,0,0,105,19,0,2,-2.0,0.000000,0.000000
587256,587256,Ok we all have to admit it. Aubrey turns us on...,youtube,0,0,93,20,0,2,4.0,0.000000,0.000000
587257,587257,She is so boring. If she was my my girlfriend ...,youtube,0,0,61,13,0,6,-4.0,0.000000,0.000000

In [48]:
cap72k.to_csv('max72kpost_data.csv', index=False)

In [64]:
y = cap72k['platform']

In [65]:
y = y.to_frame()

In [66]:
y

       platform
0       twitter
1       twitter
2       twitter
3       twitter
4       twitter
...         ...
587253  youtube
587254  youtube
587255  youtube
587256  youtube
587257  youtube

[171091 rows x 1 columns]

In [52]:
X = cap72k[['positive_words', 'negative_words', 'length', 'word_count', 'male_words', 'female_words', 'afinn', 'intensity', 'positivity']]

In [53]:
X

,positive_words,negative_words,length,word_count,male_words,female_words,afinn,intensity,positivity
0,1,0,39,9,0,0,3.0,0.111111,0.111111
1,0,0,34,5,0,0,1.0,0.000000,0.000000
2,0,0,26,3,0,0,0.0,0.000000,0.000000
3,0,1,40,8,0,0,-3.0,0.125000,-0.125000
4,0,2,57,11,0,0,-4.0,0.181818,-0.181818
...,...,...,...,...,...,...,...,...,...
587253,1,0,20,3,0,0,3.0,0.333333,0.333333
587254,1,0,12,3,0,0,2.0,0.333333,0.333333
587255,0,0,105,19,0,2,-2.0,0.000000,0.000000
587256,0,0,93,20,0,2,4.0,0.000000,0.000000
587257,0,0,61,13,0,6,-4.0,0.000000,0.000000

In [67]:
(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.2, random_state = 42)

In [69]:
X_train

,positive_words,negative_words,length,word_count,male_words,female_words,afinn,intensity,positivity
38101,0,0,122,25,0,4,-2.0,0.000,0.000
507883,0,0,40,9,0,0,0.0,0.000,0.000
586990,0,0,65,11,0,4,3.0,0.000,0.000
489517,0,0,26,6,0,0,0.0,0.000,0.000
499301,1,0,15,4,0,0,2.0,0.250,0.250
...,...,...,...,...,...,...,...,...,...
536046,0,2,78,16,0,0,-2.0,0.125,-0.125
519861,1,0,14,2,0,0,2.0,0.500,0.500
548099,0,0,38,7,0,0,3.0,0.000,0.000
563034,0,1,59,8,0,0,3.0,0.125,-0.125
538125,0,0,25,5,0,0,0.0,0.000,0.000

In [70]:
y_train

         platform
38101     twitter
507883     reddit
586990    youtube
489517  instagram
499301  instagram
...           ...
536046     reddit
519861     reddit
548099     reddit
563034     reddit
538125     reddit

[136872 rows x 1 columns]

In [71]:
X_test

,positive_words,negative_words,length,word_count,male_words,female_words,afinn,intensity,positivity
525239,1,0,44,10,0,0,4.0,0.100000,0.100000
554562,0,0,37,7,0,0,0.0,0.000000,0.000000
509061,0,0,22,4,0,0,0.0,0.000000,0.000000
490065,0,0,1,0,0,0,0.0,NaN,NaN
29277,1,1,45,9,0,0,2.0,0.222222,0.000000
...,...,...,...,...,...,...,...,...,...
52297,0,1,132,26,0,2,-2.0,0.038462,-0.038462
69129,0,0,73,13,0,0,2.0,0.000000,0.000000
535719,0,1,67,11,0,0,0.0,0.090909,-0.090909
40076,0,0,133,23,0,0,0.0,0.000000,0.000000
574804,0,0,17,5,0,0,-1.0,0.000000,0.000000

In [72]:
y_test

         platform
525239     reddit
554562     reddit
509061     reddit
490065  instagram
29277     twitter
...           ...
52297     twitter
69129     twitter
535719     reddit
40076     twitter
574804     reddit

[34219 rows x 1 columns]

In [73]:
X_train.to_csv('max72k_X_train.csv', index = False)
X_test.to_csv('max72k_X_test.csv', index = False)
y_train.to_csv('max72k_y_train.csv', index = False)
X_test.to_csv('max72k_y_test.csv', index = False)

In [74]:
pwd

'/home/azizbg/Desktop/cautious-octo-train/full'